@{
    ViewBag.Title = "ErpDetails";
}


<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-11">
            <div class="page-header">
                <h3>ERP SOLUTIONS</h3>
            </div>
        </div>
    </div>

   
       
            <div class="col-lg-12" >
                <br />
                <div class="row">
                    <div class="col-lg-11">
                        @*<h2 id="nav-tabs">Tabs</h2>*@
                        <div class="bs-example">
                            <ul class="nav nav-pills" style="margin-bottom: 15px;">
                                <li class="active">
                                    <a data-toggle="tab" href="#home">OVERVIEW</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#Profits">Profits</a>
                                </li>
                                <li class="disabled">
                                    <a>Disabled</a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-toggle="tab" href="#dropdown1">Action</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a data-toggle="tab" href="#dropdown2">Another action</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div id="home" class="tab-pane fade active in">
                                    <p style=" text-align:justify">

                                        
                                            Mee Softtech is set to support organizations take advantage of the moving economic flow with the new issue of its next-generation Enterprise Resource Planning (ERP) group. Mee Softtech supple and accessible ERP software deals tough experiences motivated on tumbling outlays, reformation manners, and successful consumer sensitivity diagonally the originality—wholly top priorities toward achieving continuous progress and productivity.
                                            Discover the varied range of Mee Softtech powerful Enterprise Resource Planning solutions.
                                            Mee Softtech next generation Enterprise Resource Planning is the single, endwise software solution for business,
                                            and is assembled for the way people work today—arranged to meet the ever-changing loads of a rising, total budget.
                                        
                                    </p>
                                   
                                        <center><img src="~/assets/ERP-PIC0011.png" class="img-responsive"/></center>
                                   
                                    <p style=" text-align:justify">
                                       
                                            ERP software (Enterprise Resource Planning) allows you to succeed your business events by adding your rear and façade office tenders. The main objective of an ERP system is to develop a single environment that enables the unfit functions of your business to share company figures through an integrated data warehouse. This not only ensures your data is available throughout your group, but that it is consistent.

                                            The distinctive purposes that will use ERP may contain business, warehouse and inventory, distribution, manufacturing, sales, marketing and planning. The modular nature of ERP systems allows you to priorities and chooses the application footpath that best suits your necessities.

                                            With complete evidence existing ERP can simplify your jobs giving you admission to real time business intellect. You are then able to make the right results with the right people at the right time.

                                            When you involve on an ERP project, we spend the time to fully recognize your business processes, workflows, and the mission-critical trades involved with your business operations. With this information at hand we can identify the most suitable ERP package and best fit solution, ensuring system functionality, truth and ideal business benefits.

                                       
                                    </p>
                                </div>
                                @***********************************************************************************************************************************************************************************@


                                <div id="Profits" class="tab-pane fade">
                                    <p style=" text-align:justify">
                                       
                                            An ERP system is the working backbone of your business. By contributing your most important business proposals you will settle consistency of common material. The chief motive to devote in ERP is to growth the efficiency of your schemes, method and workforce. You will then be able to make business decisions through real time data.
                                            <br />
                                            An ERP implementation will empower you to develop, production and move products and facilities quicker. You will be able to route customer orders rapider, convey to customers in a shorter timeframe which then allows you to statement customers earlier. At a high level, ERP will give you greater control in developing and setting funds, purifying your developed, warehousing, inventory and product delivery development and give you greater assurance to meet your monetarist areas.
                                            <br /><br />

                                            <b>  Additional straight, applying an ERP software system provides you:</b><br />
                                            •	An integrated system that will assist you to remove inefficient processes and streamline activities<br />
                                            •	A single repository of information that is a single version of the truth to make the right decisions<br />
                                            •	Ability to refine, plan, forecast and reduce the cost of your inventory, manufacturing and order processes<br />
                                            •	A consolidated view of your current revenue, sales forecasts, inventory and outstanding payments to better manage your cash flow<br />
                                            •	Real time information to manage your supply chain and address any issues quickly<br />
                                            •	Increased customer satisfaction through consistent quality and delivery of your products and services.<br />

                                       
                                    </p>
                                </div>

                                <div id="dropdown1" class="tab-pane fade">
                                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                                </div>
                                <div id="dropdown2" class="tab-pane fade">
                                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    
 
