
@{
    ViewBag.Title = "Missionvission";
}



<img src="~/assets/mission&vission.jpg" class="img-responsive"  />

<br />

<div class="bs-example" style="margin-bottom: 15px;">
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" href="../About/Overview">COMPANY OVERVIEW</a>
        <a class="btn btn-primary" href="../About/TechinicalOverview">TECHINICAL OVERVIEW</a>
        <a class="btn btn-info" href="../About/Missionvission">VISION & MISSION</a>
        <a class="btn btn-primary" href="../About/currentupdates">CURRENT UPDATES</a>
    </div>
</div>

<div class="col-lg-12" >
    <br />
    <p style="text-align:justify">
        <h4 style="color:black"><strong>Our Vision</strong></h4>
        <hr />
        <font color="black" style="font-family:Verdana ">
            We aim to become a premier entity, a socially conscious corporate citizen in the business of wealth creation in an ethical and moral manner. 
          We hope to be environmentally safe, an equal opportunity employer, and a proud contributor to India’s economic resurgence.
        </font>
    </p>
    <br />
    <p style="text-align:justify">
        <h4 style="color:black"><strong>Our Mission</strong></h4>
        <hr/>
        <font color="black" style="font-family:Verdana">
            Mee Softtech attempts steadily to deliver explanations and products using evolving skills with great excellence values and zero errors. With a solid importance on examination and growth, 
            Mee Softtech is regularly inventing with the expansion of new skills and new products.
            Mee Softtech purposes to be the finest IT explanations supplier for creativities in relations of evolution, value, and origination.
             At Mee Softtech, there is effort in how the corporation grasps and styles business. An emphasis on mounting products best suited for user essentials extant and coming, an attention on how to help client businesses grow, an effort on as long as solutions that move business.

        </font>
    </p>
    <br />
    <p style="text-align:justify">
        <h4 style="color:black"><strong>Worth Intention</strong></h4>
        <hr />
        <font color="black" style="font-family:Verdana ">
            Mee Softtech mixes people and skills to bring quality products and advanced explanations to commercial tests through the world. Customers are sure:
            <br />
            •	Great profit on deal with short entire cost of possession
            <br />
            •	Clarifications to reinforce core occupations for grander power
            <br />
            •	On time, on-budget project delivery
            <br />
            •	100% total maintenance support
            <br />
            •	Customizable solutions

        </font>
    </p>
</div>
<br />

