
@{
    ViewBag.Title = "TechinicalOverview";
}




@*<img src="~/assets/TECHNICALOVER001.jpg" />*@
<img src="~/assets/technicaloverview002.jpg" class="img-responsive" />
<br />
<div class="bs-example" style="margin-bottom: 15px;">
    <div class="btn-group btn-group-justified">
        <a class="btn btn-info" href="../About/Overview">COMPANY OVERVIEW</a>
        <a class="btn btn-primary" href="../About/TechinicalOverview">TECHINICAL OVERVIEW</a>
        <a class="btn btn-primary" href="../About/Missionvission">VISION & MISSION</a>
        <a class="btn btn-primary" href="../About/currentupdates">CURRENT UPDATES</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4><strong>Technical Overview</strong></h4>


        <p style="text-align:justify">
            <font color="black" style="font-family:Verdana ">
                Our organizations and tough technical expertise have been established crossways bazaars around the world.
                Our Knowledge in inclusive variety of occupational requests in Multi-Tier circulated Style and Movable device applications Providing Advanced and Superiority IT Products and solutions to help you appliance the alert,
                combined schemes and developments that will help your business endures to raise.<br />
                <strong>Skills set</strong>  <br />
                We provide development, architecture, project management and support skills within the following technologies.
                <br />
                <ul>
                    <li> Programming Languages: C#, ASP.NET, VB 6.0</li>

                    <li>  Microsoft Technologies: .Net Framework 4.0 & 4.5, ASP.Net, ADO.Net,  MVC.</li>

                    <li> Web Scripting Languages : Java Script.</li>

                    <li>  Database Technologies : SQL Server 2008.</li>

                    <li>  Development Tools : Visual Studio.Net 2010-12-13,  Office 2010.</li>

                    <li> Application Servers : IIS</li>
                </ul>

            </font>
        </p>


    </div>
    <br />
</div>

