
@{
    ViewBag.Title = "SubmitSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>Submit Success</h2>
<div class="row">
    <div class="col-md-6">
        <h4>@ViewBag.ThanksMessage</h4>
    </div>
</div>

